.lila:active,.lila:link,.lila:visited{
color:#8282FF;
text-decoration:none;
}
table{border-radius:10px 10px 0px 0px;
border-spacing: 0;
*border-collapse: collapse;
}
th:first-child {
-moz-border-radius: 6px 0 0 0;
-webkit-border-radius: 6px 0 0 0;
border-radius: 6px 0 0 0;
}
th:last-child {
-moz-border-radius: 0 6px 0 0;
-webkit-border-radius: 0 6px 0 0;
border-radius: 0 6px 0 0;
}
table.fondotabla{
	margin-top:15px;
	background-color:#D3D3D3;
	font:20px sans-serif;
	border-radius:10px;}
tr.fondotabla{
	border-radius:10px;}	
}
.fondotabla2{
	background-color:#D3D3D3;
	margin-top:25px;
	font:25px sans-serif;
	border-radius:10px;
}
a.button{
	display:block;
	height:30px;
	line-height:29px;
	margin-bottom:20px;
	width:191px;
}
body {
	font-family:sans-serif;}

span.datos{
	padding:1% 1%;
	font:60% sans-serif;
	border:1px dotted white;
	text-align:left;
	float:left;
	border-radius:10px;
	background-image:url(../img/ruido2.PNG);
}
span.logo{
	margin:0% 5% 0% 20%;
	text-align:left;
	float:left;
	
}
span.enlaces{
	margin:0% 0% 0% 23%;
	text-align:center;
	float:left;
	color: green;
	font-family:sans-serif;
}
span.iconocerrar{
	text-align:center;
	float:right;
	color: green;
	font-family:sans-serif;
}
input.barra
	{
    background-color: #FFFFCC;
    border-radius: 10px;
    border-left: 4px solid #808000;
    width: 230px;
}
.zoomIt{
	
	display:block!important;
	-webkit-transition:-webkit-transform 2s ease-out;
	-moz-transition:-moz-transform 2s ease-out;
	-o-transition:-o-transform 2s ease-out;
	-ms-transition:-ms-transform 2s ease-out;
	transition:transform 2s ease-out;
}
.zoomIt:hover{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	
}

button.descargar ,button.renombrar{
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background: #CCFFCC;
	background-repeat: no-repeat;
}
button.descargar:hover, button.renombrar:hover{
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background: #FFFFFF;	
	background-repeat: no-repeat;
}

th.enlaces{
    color: green;
   	
}
tr.tabla:hover{
	font-style:arial;
    color: green;	
    background: white;
	background-repeat: no-repeat;
}
.seleccionado{
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, 				rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
	border-radius:10px;
}
.seleccionado2{
	background:url(../img/ruido.PNG);
	border-radius:5px 0px 0px 0px ;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px ;
	text-align: center;
}

.contenido {
	background-image:url(../img/ruido2.PNG) ;
	text-align: center;
}
.contenido2 {
	background-color: #E0E0E0;
	text-align: center;
}