a.button{
	display:block;
	height:30px;
	line-height:29px;
	margin-bottom:20px;
	width:191px;
}

.zoomIt{
	display:block!important;
	-webkit-transition:-webkit-transform 1s ease-out;
	-moz-transition:-moz-transform 1s ease-out;
	-o-transition:-o-transform 1s ease-out;
	-ms-transition:-ms-transform 1s ease-out;
	transition:transform 1s ease-out;
}
.zoomIt:hover{
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	
}

button.descargar {
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background: #CCFFCC;
	
	background-repeat: no-repeat;
}
button.descargar:hover {
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background: #FFFFFF;
	
	background-repeat: no-repeat;
}
th.enlaces{
	
    font-style:arial;
    color: green;
   	
}
tr.tabla:hover{
font-style:arial;
    color: green;	
    background: white;
	
	background-repeat: no-repeat;
}