body {
	background-color: #EFE4B0;
	background-size: 85%;
	font: 150% sans-serif; 
	color: green; 
	text-shadow: black 0.1em 0.1em 0.2em;
	}
input.barra{
    background-color: #FFFFCC;
    border-radius: 10px 10px 10px 10px;
    border-left: 4px solid #808000;
    width: 150px;
}
h1 {
	font: 150% sans-serif; 
	color: green; 
	text-shadow: black 0.1em 0.1em 0.2em;
	}
h2{
	font: 100% sans-serif; 
}
.indique{
	font: 100% sans-serif; 
	color: black; 
	text-shadow: black 0.1em 0.1em 0.2em;
	}
tr:hover{
	
	color: #cc6600; 
	text-shadow: black 0.1em 0.1em 0.2em;
}
.botonlogin{
	background-image: url('../img/login.png'); 
	width: 69px; 
	height: 75px; 
	border-width: 5px;
}